*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.wrapper .navbar{
  width: 100%;
  
  /* background: #fff; */
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border-radius: 5px;
}


.wrapper .navbar .left ul,
.wrapper .navbar .right ul li button{
  display: flex;
  align-items: center;
  height: 60px;
}

.wrapper .navbar .left ul li,
.wrapper .navbar .right img{
  margin: 0 10px;
}


.wrapper .navbar .right button span{
  font-size: 13px;
}

.wrapper .navbar .right ul li{
  position: relative;
}

.wrapper .navbar .right ul li .dropdown{
  position: absolute;
  top: 75px;
  right: 56px;
  /* background: #fff; */
  padding: 10px 1px;
  border-radius: 5px;
  display: none;
}

.wrapper .navbar .right ul li .dropdown .fas{
  margin-right: 10px;
}

.wrapper .navbar .right ul li .dropdown:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 70%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.wrapper .navbar .right ul li:hover .dropdown{
  display: block;
}
.alignment{
  /* display: flex; */
  width: 200px;
  justify-content: flex-end;
}


.active{
  color: green;
}
.deactive{
  color: rgb(139, 139, 139);
}
.hovers{
  color: orange;
  background-color: white;
}
.hovers:hover{
  color: white;
  background-color: orange;
}