/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 270px;
  height: 100%;
  background: #042331;

  transition: all .5s ease;
}
.sidebar .headeer {
  font-size: 22px;
  color: white;
  line-height: 70px;
  padding-left: 20%;
  padding-top: 20%;
  margin-bottom: 20%;
  background: #063146;
  user-select: none;
}
.sidebar .ula .anchor{
  display: block;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul .lia:hover .anchor{
  padding-left: 20px;
}
.sidebar .ula .anchor .iii{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

@media only screen and (max-width: 650px) {
.disp{
  display: none;
}

}
@media only screen and (max-width: 800px) {
.disp{
  display: none;
}

} */












*{

  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



.btns {
  background: transparent;
  border: 2px solid #000;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.808);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all .25s ease;
  width: 190px;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.btns:not(.loading):hover {
  box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
}
.btns:not(.loading):hover i {
  transform: translate(7px);
}
.btns .idan {
  font-size: 20px;
  position: absolute;
  left: 0px;
  pointer-events: none;
  z-index: 10;
  background: inherit;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .25s ease;
}
.btns .text {
  width: 130px;
  display: block;
  position: relative;
  pointer-events: none;
  transition: all .25s ease;
  position: absolute;
  left: 30px;
}
.loading-animate {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all .25s ease;
}
.loading-animate:after {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #ac1909;
  animation: loading infinite .8s ease .05s;
  position: absolute;
}
.loading-animate:before {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #ac1909;
  animation: loading infinite .8s linear;
  position: absolute;
  opacity: .6;
}
.btns.loading {
  width: 60px;
}
.btns.loading .idan {
  transform: rotate(-90deg);
  padding-bottom: 4px;
}

.btns.loading .text {
  transform: translate(-140px);
}
.btns.loading .loading-animate {
  opacity: 1;
}
@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.data{

  /* background: url(laptop.jpg); */
  height: 100vh;
  margin-left: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  line-height: 20px;
  position: fixed;
  width: 100%;
}

label{

  /* line-height: 50px; */
  font-size: 30px;
  color: white;
  font-weight: 200;
  margin-right: 50px;
  margin-bottom: 30px;
  cursor: pointer;

}

nav ul{

  float: right;
  margin-right: 20px;
}

nav ul li{

  line-height: 80px;
  margin: 0 10px;
}



nav ul li a:hover{

  /* background-color: rgb(49, 27, 214); */
  color: white;
  transition: 0.5s;

}

.side-menu{

  position: fixed;
  overflow-y: scroll;
  background: rgba(22, 22, 22, 0.733);
  /* border-right: 2px solid black; */
  width: 200px;
  height: 100%;
  
  padding-top: 12px;
}

/* .side-menu center img{

  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-top: 40px;
  border: 2px solid white;
} */

.side-menu center h3{

  color: rgb(255, 255, 255);
  font-size: 21px;
  margin-top: -15px;
}


.side-menu a{

  display: block;
  line-height: 51px;

  transition: 0.5s;

}

.side-menu a:hover{
  background-image: linear-gradient(to right, #ac1909 , #d43523,#aa1909);

  /* background-image: linear-gradient(red, rgba(255, 255, 0, 0.664),red); */
  padding-left: 17px;
}

.side-menu span{

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.side-menu i{

  font-size: 15px;
  margin-left: 19px;
  color: white;
}


nav .menu-bar{

  float: right;
  margin-top: 20px;
  display: none;
  margin-right: 20px;
}

#menu{

  display: none;
}

.side-menu .Logout{

  display: none;
}





@media (max-width:850px){

  .side-menu a span{

      display: none;
  }

  .side-menu center{

      display: none;
  }

  .side-menu{

      width: 100px;

  }

  .side-menu a i{

       display: block;
      line-height: 80px;
      text-align: center;
      margin-left: 0;
      font-size: 35px;
      
  
  }

  .data{

      margin-left: 100px;
  }



}


@media (max-width:650px){

  .data{

      display: none;
  }

  nav ul{

      display: none;
  }


  .side-menu{

      width: 100%;
      text-align: center;
      left:100%;
      background-color: #4c516d;
      transition: all 0.5s;
  }

  .side-menu a i{

      display: none;
  }

  .side-menu a span{

      display: block;
  }

  .side-menu .Logout{

      display: block;
  }


  nav .menu-bar{

      display: block;
  }
}

#menu:checked ~ .side-menu{

  left:0;

}

